@charset "utf-8";
/* CSS Document */
body,ul,li{
		padding:0;
		margin:0;
		border:0;
		list-style:none;
}
header .con{
	height:40px;
	background:#539BF4; 
	width:100%;
	position: absolute;
	top:500px;
	margin:auto;

}
header .con .left{
	float:left;
}
header .con .right{
	float:right;
}
header .con .left li{
	float:left;
    height:46px;
	line-height:46px;
	margin-right:20px;
	color:#FFF;
	cursor:pointer;
	padding-left:20px;
}
header .con .right li{
    height:46px;
	line-height:46px;
	margin-right:70px;
	color:#FFF;
	cursor:pointer;
}
img{
  position: absolute;
	left:0px;
	top:0px;
	width: 100%;
}
a:link,a:visited{
	color:#fff;
	text-decoration: none;
}
a:hover{
	color:#4FD2D0;
}
a:active{
	color:#0DC6EF;
}
